<h1>テーマ更新</h1>
<%= form_tag({:action=>"update"}, {:multipart => true} ) do %>
   <%= file_field :daily_lunches, :csv_file, accept: 'text/csv', required: true %>
   <%= submit_tag  "登録", class: "square_btn"  %>
<% end %>