<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | シャッフルランチ</title>
</head>
<body>
<h1>About</h1>
<h2>シャッフルランチについて</h2>
<p>シャッフルランチは、社内の交流を活性化することを目的につくられたアプリです。</p>
</body>
</html>