<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | シャッフルランチ</title>
</head>
<body>
<h1>Help</h1>
<p>
railsチュートリアルページ：<a href="https://railstutorial.jp/">
railsチュートリアル演習の解答例ページ：<a href="http://mochikichi.hatenablog.com/entry/rails_tutorial_guide">
</p>
</body>
</html>