<% if logged_in? %>
  <div class="row">
      <div class="col-md-8">
        <h3>エントリーユーザー一覧</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
  <div class="center jumbotron">
  	<h1>シャッフルランチ</h1>
  	<p>シャッフルランチ開発のために、railsチュートリアルで学習</p>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>

  <%= link_to image_tag("rpi_car-iloveimg-resized.jpg", alt: "logo"), '#' %>
<% end %>