<% if logged_in? %>
  <% if @users.any? %>
    <h1>エントリー中のユーザー</h1>
    <% @users.each do |user| %>
      <div class="entry-photo" style="background-image:url(<%=  user.profile_img.url if user.profile_img? %>);">
      </div>
    <% end %>
  <% else %>
      <p>ただいまエントリー中のユーザーはいません。</p>
  <% end %>
<% else %>
  <div class="center jumbotron">
  	<h1>シャッフルランチ</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>

  <%= link_to image_tag("rpi_car-iloveimg-resized.jpg", alt: "logo"), '#' %>
<% end %>