<% provide(:title, "マッチング中") %>
<% provide(:page_title, "マッチング中") %>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">マッチング中</div>
    <div class="panel-body">
      <div class="form-group">
        マッチング相手が決まり次第メールでおしらせいたします。<br>
        12:50分でマッチング申し込みの受付を終了し、結果をメールでお知らせいたします。
      </div>
    </div>
  </div>
</div>