<div class="center">
  <h1 class="bf-title">Lunch Friends</h1>
  <h2 class="basic-heading">仮登録完了/メール認証</h2>

  <p class="account_activation_sentence">
    入力したメールアドレスにアカウント有効化用のメールを送信しました。<br>
    そのメールに記載されたURLからアカウントを有効化してください。
    <br><span class="account_activation_asterisk">※メールが届くまでに、5分程度かかる場合がございます。</span>
    <br><span class="account_activation_asterisk">※メール認証が完了するまでTOPページからのログインはできません。</span>
  </p>
  <%= link_to 'TOPへ戻る', root_url, class: "square_btn account_activation_btn"%>
</div>