<div class="center">
  <h1 class="bf-title">Lunch Friends</h1>
  <div class="bf-img">
    <%= image_tag("lunch_logo.png", alt: "Lunch Friends logo") %>
  </div>
  <div class="bf-btn">
    <%= link_to "Sign up", signup_path, class: "square_btn bf-top" %>
  </div>
  <div class="bf-btn">
    <%= link_to "Login", login_path, class: "square_btn bf-top" %> 
  </div>
</div>