<p><%= @user.name %>様</p>
<p>Lunch Friendsのユーザ登録を完了するには下記リンクをクリックして下さい。</p>

<p>
<%= link_to "LunchFriendsアカウント有効化", edit_account_activation_url(@user.activation_token,email:@user.email) %>
<br>※仮登録から24時間以上時間が経過すると、リセットされますのでご注意下さい。
<br>
<br>
<p>
	------<br>
	LunchFriens<br>
	https://lunchfriends.jp/<br>
	<br>
	▽問い合わせメール<br>
	mail: lunchcommunication@gmail.com
</p>