<h1><%= full_title() %></h1>

<p><%= @user.name %>さま</p>
<p>
	The Lunchにユーザ登録をしていただき誠にありがとうございます。
	下記のリンクにアクセスしてアカウントを有効化してください。
</p>
	<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
		email:@user.email) %>