<p>
<strong>マッチングメンバーが新規投稿をしました。</strong>
</p>
<p>
マッチング相手から下記のメッセージが届きました。<br>
▽発言者<br>
<%= @speaker %><br>
▽メッセージ内容<br>
<%= @text %>
</p>
<p>
下記リンクよりマッチング相手の投稿を確認してください。<br>
<a href="https://lunchfriends.jp/check">マッチング相手確認</a><br>
</p>
<p>
------<br>
LunchFriens<br>
https://lunchfriends.jp/<br>
<br>
▽問い合わせメール<br>
mail: lunchcommunication@gmail.com
</p>