<p>おはようございます！</p>
<p>
本日あなたが登録しているカテゴリー「<%= @category_name %>」のテーマランチが開催されるのでお知らせ致します。
</p>
<p>
本日開催のテーマは<br>
「<%= @category_name %>」<br>
です。
</p>
<p>
<a href="https://lunchfriends.jp">こちらからご参加ください。</a>
</p>

<p>
------<br>
LunchFriens<br>
https://lunchfriends.jp/<br>
<br>
▽問い合わせメール<br>
mail: lunchcommunication@gmail.com
</p>