<p>
<strong>本日ランチのマッチングが行われませんでした..</strong>
</p>
<p>本日エントリーされたカテゴリーの人数が少なかった為、<br>
マッチング相手が見つかりませんでした。
</p>
<p>
また明日以降のエントリーをお待ちしております。<br>
<a href="https://lunchfriends.jp/">Lunch Friends</a>
</p>
<p>
今後共ランチフレンズをよろしくお願い致します(_ _)
</p>

<p>
------<br>
LunchFriens<br>
https://lunchfriends.jp/<br>
<br>
▽問い合わせメール<br>
mail: lunchcommunication@gmail.com
</p>