<p>
<strong>ランチのマッチングが成立しました</strong>
</p>
<p>
下記リンクよりマッチング相手を確認し連絡を取ってください。<br>
<a href="https://lunchfriends.jp/check">マッチング相手確認</a><br>
</p>
<p>
------<br>
LunchFriens<br>
https://lunchfriends.jp/<br>
<br>
▽問い合わせメール<br>
mail: lunchcommunication@gmail.com
</p>