<p>
<strong>ランチのマッチングが成立しました</strong>
下記リンクよりマッチング相手を確認し連絡を取ってください。

<a href="https://lunchfriends.jp/check">マッチング相手確認</a>
</p>
<p>
------
LunchFriens
https://lunchfriends.jp/

▽問い合わせメール
mail: lunchcommunication@gmail.com
</p>