<% provide(:title, "趣味を登録") %>

<h1 class="basic-heading">趣味を登録</h1>

<div class="hobby">
  
  <div >
    <ul id="hobby_layer">
      <li id="foods" data-food="meats">食べ物</li>
      <li id="movies" data-food="fishs">映画</li>
      <li id="musics" data-food="veges">音楽</li>
    </ul>
  </div>

  <div >
    <ul id="kind_layer">
    </ul>
  </div>

  
  <div id="concreate_layer">
    <ul id="con_list">
    </ul>
  </div>
</div>

<hr>

<h3>登録する趣味一覧</h3>
  <%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal') do %>
  
    <div class="hobby_list">
      <div id="my_hobby">
        <input type="hidden" name="user_hobby[hobby_name][]">
      </div>

      <ul id="hobby_delete">
      </ul>
    </div>

    <div class="form-actions btn-center">
      <%= submit_tag "趣味を登録", class: "square_btn" %>
    </div>

  <% end %>
