<% provide(:title, "趣味の設定") %>

<h1 class="basic-heading">趣味選択</h1>

<div class="hobby">
  
  <div >
    <ul id="hobby_layer">
      <li id="foods" data-food="meats">食べ物</li>
      <li id="movies" data-food="fishs">映画</li>
      <li id="musics" data-food="veges">音楽</li>
    </ul>
  </div>

  <div >
    <ul id="kind_layer">
    </ul>
  </div>

  
  <div id="concreate_layer">
    <ul id="con_list">
    </ul>
  </div>
</div>

<hr>
<h3>Add Hobby</h3>
<%= form_tag({ controller: :user_hobbies, action: :edit}, class: 'form-horizontal') do %>

  <div class="hobby_list">
    <div id="my_hobby">
      <input type="hidden" name="user_hobby[hobby_name][]">
    </div>

    <ul id="hobby_delete">
    </ul>
  </div>


<hr>
<h3>My Hobby</h3>
  <ul class="my_hobbies">
    <% @hobbies.each do |hobby| %>
      <li><%= hobby.hobby_name %></li>
    <% end %>
  </ul>

  <div class="form-actions btn-center">
    <%= submit_tag "趣味を更新", class: "square_btn" %>
  </div>

<% end %>

<hr>
<h3>Hobby Cards</h3>
<ul>
  <% @cards.each do |card| %>
    <li>
      <%= card %>
    </li>
  <% end %>
</ul>