<% if u = User.find_by(id: Tweet.find_by(id:params[:id]).user_id) %>
  <div class="">
    <%= image_tag(u.profile_img.url, :size => "35x35") if u.profile_img? %>
  </div>
<% end %>
<%= u.name if u.present? %>

<div class="">
  <%= Tweet.find_by(id:params[:id]).content %>
</div>