<% provide(:title, 'マッチング相手情報') %>

<% if current_user.pair_id.nil? %>
  <p>まだマッチングしておりません</p>
<% else %>

  <h1 class="eigo-title">You got new Lunch Friends !!</h1>
  <% @pairs.each do |pair| %>

    <div class="col-lg-12">
      <div class="bs-component">
        <fieldset>
          <div class="user-img">
            <div><%= image_tag pair.profile_img.url if pair.profile_img? %></div>
          </div>

          <div class="user-text">
            <div><%= pair.try :name %></div>

            <label>Slack ID</label>
            <div><%= pair.try :slack_id %></div>
          </div>

          
        </fieldset>
      </div>
    </div>

  <% end %>
<% end %>