<% provide(:title, "エントリー") %>
<% provide(:button_text, "Let's Lunch") %>

<h1>エントリー</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_for(@user) do |f| %>
	  	<%= render 'shared/error_messages', object: f.object %>
	  	<%= f.label :役職名 %><span class="label label-danger">必須</span><br>
	  	<%= f.collection_select :position_id, Position.all, :id,  :name %><br>
	<% end %>
  </div>
</div>