<% provide(:title, "エントリー完了") %>

<div class="comp-entry">
	<%= image_tag(@user.profile_img.url, class: "img-responsive") if @user.profile_img? %>
	<p>エントリーカテゴリー</p>
	<p><%= Category.find_by(id: params[:user][:category_id]).name %></p>


	<h1>ランチフレンズにエントリーしました！</h1>

	<p>
	マッチングまで少々お待ちください。<br>
	※マッチング次第メールでお知らせします
	</p>

	<div class="btn-center">
		<%= link_to "TOP", root_path, class: "square_btn" %>
	</div>
</div>