<h1>TimeLine</h1>

<%= form_for(@apple, remote: true, url: { controller: 'apples', action: 'create'}) do |f| %>
  <%= f.text_area :content %>
    <%= f.submit "追加" %>
<% end %>

<div class="timeline-shows">
  <table class="timelines" id="apples">
    <%= render partial: 'apples/apple', collection: @apples %>
  </table>

  <div class="threads">
    <h2 class="post-thread-id"></h2>
    <div class="thread_form">
    </div>
    <ul id="post-threads">
    </ul>
  </div>
</div>