<div>
  <!-- ログインユーザーがエントリー中の場合 -->
  <% if entried? %>
      <!-- マッチング済みの場合 -->
    <% if matched? %>
      <a href="https://lunchfriends.jp/check">マッチング相手確認を確認する</a>
    <% else %>
      <!-- 未マッチングの場合 -->
      <p>エントリー中！</p>
    <% end %>
  <% end %>
</div>