<div class="bs-component">
	<%= form_tag(action: :entry) do %>
		<h2>マッチングカテゴリー</h2>
		<%= collection_select(:user, :category_id, Category.all, :id,  :name) %><br>

		<%= check_box  :user, :any_category %>
		<span>ご希望のカテゴリーでマッチング相手がみつからない場合は別のカテゴリーの方とマッチングする</span>
		<div class="btn-center">
			<%= submit_tag "Let's go to Lunch", class: "square_btn" %>
		</div>     
	<% end %>
</div>