<div class="bs-component">
 	<%= form_tag(action: :entry, method: "post") do %>
 		<%= label :user, :category_id %><span class="label label-danger">必須</span><br>
 		<%= collection_select(:user, :category_id, Category.all, :id,  :name) %><br>
		<%= submit_tag "シャッフルランチにエントリーする", class: "btn btn-primary" %>        
	<% end %>
</div>