<div class="bs-component">
  <%= form_tag("/", method: "get", id: "") do %>
    <div class="form-group">
        <%= submit_tag "シャッフルランチにエントリーする", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>