<div class="entry_status">
  <!-- ログインユーザーがエントリー中の場合 -->
  <% if entried? %>
      <!-- マッチング済みの場合 -->
    <% if matched? %>
      <!-- <div class="entry_state_show"> -->
      <div class="pair_check">
        <%= link_to "マッチング相手を確認する", check_path %>
      </div>
    <% else %>
      <!-- 未マッチングの場合 -->
      <div>
        <% if @time_now.strftime('%H:%M:%S') < "12:30:00" %>
          <!-- 12:30以前の場合 -->
          <p class="entry_now">エントリー中!!</p>
        <% else %>
          <!-- 12:30以降の場合 -->
          <p class="lunch_time_end">また明日エントリーをお待ちしております。</p>
        <% end %>
      </div>
      <% if @time_now.strftime('%H:%M:%S') < "12:30:00" %>
        <div class="matching_time_show">
          <small>※12:30に相手が決まります</small>
        </div>
      <% else %>
        <div class="lack_of_members">
          <small >※本日選択されたカテゴリーのマッチングは<br>エントリー人数が少なく行われませんでした。</small>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>