<% if entried? %> 
	<% if matched? %>
		<div class="entry-state">
			<h3>マッチング!!</h3>
		</div>
		<p><%= link_to "マッチング相手確認", check_path %></p>
	<% else %>
		<div class="entry-state">
			<h3>エントリー中</h3>
		</div>
		<p>▼エントリーカテゴリー</p>
		<h4><%= Category.find(@user.try :category_id).name %></h4>
		<p class="help-block">マッチングまで少々お待ちください。<br>※マッチング次第メールでお知らせします</p>
			
	<% end %>
<% else %>
	<div class="entry-state">
		<h3>空腹中..</h3>
		<p>まだエントリーしていません。<br>カテゴリーを選択して今すぐランチフレンズを探しましょう！
		</p>
	</div>
<% end %>