<p>マッチング状態：
<% if entried? %> 
	<% if matched? %>
		マッチング完了</p>
		<p><%= link_to "マッチング相手確認", check_path %></p>
	<% else %>
		エントリー中</p>
		<p>
			<%= form_tag("/cancel", method: "post", id: "") do %>
			  <div class="form-group">
			  	<%= link_to 'キャンセル', {controller: :users, action: :cancel}, method: :post, data: {confirm: "本当にキャンセルしてもよろしいでしょうか？" } %>
			  </div>
			<% end %>
		</p>
	<% end %>
<% else %>
	未エントリー</p>
<% end %>