<% if entried? %> 
	<% if matched? %>
		<p><%= link_to "マッチング相手確認", check_path %></p>
	<% else %>
		<p>
			<%= form_tag("/cancel", method: "post", id: "") do %>
			  <div class="form-group">
			  	<%= link_to 'キャンセル', {controller: :users, action: :cancel}, method: :post, data: {confirm: "本当にキャンセルしてもよろしいでしょうか？" } %>
			  </div>
			<% end %>
		</p>
	<% end %>
<% else %>
	<div class="entry-state">
		<p>空腹中..</p>
	</div>
<% end %>