@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$navi-color: #FFCB00;
$content-color: #0D0D0D;
$header-font: 'Lobster', cursive;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body {
  padding-top: 60px;
  font-family: "Rounded Mplus 1c";
  color: $content-color;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
    max-width: 940px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: $content-color;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: $header-font;
  &:hover {
    color: #F2F2F2;
    text-decoration: none;
  }
}

header.navbar.navbar-fixed-top.navbar-inverse {
    background-color: $navi-color;
    border: none;
    height: 65px;
}

.navbar-inverse .navbar-nav > li > a {
  color: $content-color;
}

.navbar-nav > li {
  font-weight: bold;
}

.navi-header {
  margin: 0 30px;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 9px;
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 3px solid $navi-color;
}

.footer-menu {
  float :left;
}

.copy-right {
  float: right;
}

.footer li {
  float: left;
  margin: 0 20px;
  font-size: 13px;
  list-style: none;
}

.footer li a {
  color: $content-color;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.select-menu {
  margin: 0 auto;
  width: auto;
  background: #f6f6f6;
  border: .18em solid #ddd;
}

.select-content {
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    font-family: inherit;
    color: inherit;
    overflow: auto;
    max-width: 18rem;
    max-height: 18rem;
    -webkit-overflow-scrolling: touch;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* トップページ */

/* ログイン前ページ */
h1.bf-title {
    font-family: "Lobster", cursive;
    font-size: 4.4em;
    margin: 30px auto;
}

h2.bf-sub-title {
    font-size: 1.8em;
}

.bf-img {
  margin-top: 30px;
  margin-bottom: 60px;
}

.bf-img img {
  width: 250px;
}

.bf-btn {
    margin: 20px auto;
}

.bf-btn a.btn.btn-lg.btn-primary {
    width: 350px;
}


/* ログインページ */
h1.login-title {
    font-family: "Lobster", cursive;
    font-size: 4.4em;
    margin: 60px auto;
}

.login-row {
    max-width: 700px;
    margin: 30px auto;
}

h2.login-sub-title {
    font-size: 1.8em;
    margin: 40px auto;
}

.login-row .form-control {
  width: 65%;
}

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background: #67c5ff ;
  color: white;
  border: solid 2px #67c5ff ;
  border-radius: 3px;
  transition: .4s;
  font-size: 1.3em;
}

.square_btn:hover {
  color: #67c5ff ;
  background: white;
}

.btn-center {
  text-align: center;
  margin-top: 40px;
}


/* エントリー中ユーザ一覧 */
.entry-user .con_area {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 30px auto;
}

.entry-user article {
  flex: 1 1 384px;
  display: flex;
}

.entry-user section {
  flex: 1;
  margin: 10px;
  display: flex;
  border: solid 1px #ddd;
  color: inherit;
}

.entry-user .user-info img {
  width: 180px;
  height: 180px;
}

.entry-user .user-info .col-xs-10 {
  padding-left: 55px;
}

.entry-user .entry-photo {
  flex: 2;
  min-height: 150px;
  background-position: center;
  background-size: cover;
}

.entry-user .entry-text {
  flex: 3;
  margin: 10px;
}

.entry-user h2 {
  margin-bottom: 60px;
  font-size: 1.6em;
  text-align: left;
  margin: 15px 0;
}

.entry-user .entry-state h3 {
    color: #ff8c00;
    font-size: 2.5em;
    margin: 30px;
}

.entry-user .entry-cnt {
    margin-bottom: 25px;
}

section.entry_form {
    text-align: center;
}

.category-center {
  display: flex;
  margin: 30px auto;
}

.category-label {
  flex: 1;
  padding-left: 5em;
  font-weight: 500;
  font-size: 1.2em;
}

.category-select {
  flex: 3;
}

@media (max-width: 384px) {
  .entry-user .entry-photo {
    flex: 1;
  }
}

/* プロフィールページ */
.col-lg-12 img {
  width:200px;
  height:200px;
}


/* スライドショー */
#slider_wrap {
  margin: 0px auto;
  width: 780px;  /* 変更 */    /* padding 20*2 +  img*width*パネル数 + (marginleft+right)*4+(marginLeft/Right)  */
  height: 160px;  /* padding 20*2 + #photo_list.height */
  padding: 0px 20px ;
  /*background: #EFEFEF;*/
  position: relative;
  /*border: 1px solid #CCC;*/
}

#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#photo_list {
  /*width: 640px;  幅は指定しない*/
  height: 160px; /* padding 20*2 + img.height */
  padding: 0px 10px;  /* 変更 */
  list-style-type: none;
  float: left;
  /*background: #999;*/
}
#photo_list li {
  float: left;
  margin: 0 10px;  /* 変更 */
  display: inline;
}
 
#photo_list img {
  border: none;
}

/* エントリー完了画面 */
.comp-entry h1 {
  font-size: 2.3em;
}

.comp-entry img {
  margin: 20px auto;
  width: 200px;
  height: 200px;
}

.comp-entry p {
  text-align: center;
}

.comp-entry p.cate_selected {
    font-weight: bold;
    font-size: 1.4em;
}


/* 画像トリミング */
.trim-cnt .row {
    margin-bottom: 2em;
}
.trim-cnt .btn {
    width: 170px;
}
.trim-cnt .view {
    position: relative;
    height: 300px;
    border: 2px dotted #E4E4E4;
}
.trim-cnt .num-input {
    width: 24px;
}
.trim-cnt #rectangle {
    z-index: 2;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px dotted #f2b4b3;
}



#crop_area_box {
  display: block;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.cropit-image-preview {
  width: 300px
  height: 300px
  background-color: #f0f0f0
}

/* others */
.label-danger {
  background-color: #FFA900;
}