@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Leafy';
  font-style: normal;
  src: url((asset-path('leafy.woff'))) format('woff');
}

/* mixins, variables, etc. */

$navi-color: #FFCB00;
$content-color: #0D0D0D;
$main-font: 'Leafy';
$main-dark-color: #FF6A4B;

$top_padding_side: 0;
$top_padding_top: 34px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none; /* 下線を消す */
}

a:hover {
  text-decoration: none; /* 下線を消す */
}


body {
  font-family: "Rounded Mplus 1c";
  color: $content-color;
}

.container {
    max-width: 940px;
    /* margin-top: 30px; */
}

textarea {
  resize: vertical;
  border: 2px solid #696969;
  resize: none;
}

input {
  /*border: 2px solid #696969;*/
}

select {
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;  /* ベンダープレフィックス(Firefox用) */
  appearance: none;   /* 標準のスタイルを無効にする */ 
}
::-ms-expand {    /* select要素のデザインを無効にする（IE用） */
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main_dark_color {
  color: $main_dark_color;
}

#progressing {
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #FFF;
  opacity: 0.1;
}

#loading_img {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.content_padding {
  padding-top: 39px;
  padding-left: 45px;
  padding-bottom: 20px;
}

.bg_color {
  background-color: #fffefc;
}

.index_left, .index_right {
  width: 70%;
  margin: 0 auto;
}

.link_disabled {
  pointer-events: none;
}

/* 画像が空の場合に画像のサイズぶんスペースを埋める */
.img_empty {
  width: 30px;
  height: 30px;
}

/* Top */
.entry_top {
  margin-top: $top_padding_top;
}

@media (max-width: 1023px) {
  .lunchfriends {
    text-align:  center;
  }

  .lunch_kun {
    text-align:  center;
  }
}

.Asset-73x {
  width: 112px;
  object-fit: contain;
  /* margin-left: 218px; */
  padding-top: 19px;
}

.today_date {
  height: 26px;
  font-family: rounded-x-mplus-1m, Rounded Mplus 1c;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin: 27px 0;
  color: #3b6793;
  letter-spacing: 4.4px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.today_date:before, .today_date:after {
  content: "";
  width: 18%;
  height: 2px;
  background: #3b6793;
  display: block;
}
.today_date:before {
  margin-right: 13px;
}
.today_date:after {
  margin-left: 13px;
}

.entry_status {
  margin-top:  20px;
  margin-bottom: 85px;
}
/* エントリー中!! */
p.entry_now {
  margin-left: 228px;
}
/* マッチング相手を確認する */
.pair_check {
  margin-top:  20px;
  font-size: 14px;
  font-weight: 450;
  text-decoration:  underline;
  text-align: center;
}

/* マッチング相手を確認するリンクをブロックして中央よせ */
.pair_check_link {
  display:  block;
  text-align:  center;
}

/*  */
.matching_status {
  color: #67c5ff;
  font-size: 1.3em;
}

.matching_time_show {
  margin-left: 218px;
}

.lunch_card {
  max-width: 224px;
  height: 168px;
  border-radius: 12px;
  flex: 1 1 224px;
  margin-right: 11px;
  margin-bottom: 10px;
  background-color: #FF9E66;
  position: relative;
}

.inactive {
  background-color: #9e9e9e;
}

.cannot_entry_instruction {
  margin:  0 20px;
  font-weight: 500;
  color:  white;
  font-size:  12px;
}

/* エントリー中のランチカードのデザイン */
.my_entry_card {
  background-color: #FF6A4B;
}

.lunch_card_category {
  font-family: rounded-x-mplus-1m, Rounded Mplus 1c;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 900;
  line-height: 1.24;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  margin-top:14px;
  margin-left:14px;
  margin-right:14px;
}

img.lunch_card_img {
  width:  42px;
  height:  42px;
}

.others_entry {
  margin: 0 25px;
  color: white;
  font-size:  14px;
  margin-top:  25px;
  border-bottom:  solid;
}

/* エントリーボタン */
.entry_button {
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: white;
  color: #FF6A4B;
  position:  absolute;
  bottom:  20px;
  left:  0;
  right:  0;
  margin: 0 auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* How To Use Lunch Frineds */
.instruction_title {
  font-family: $main-font;
  font-size: 30px;
  color: #FF6A4B;
  margin-bottom: 75px;
}

.instruction_step {
  font-weight:  900;
  font-size:  16px;
  color: #FF6A4B;
}

.instruction_sentence {
  font-weight:  600;
  font-size:  14px;
  line-height: 24.5px;
  padding-left: 14px;
}

.instruction_aserisk {
  font-weight:  500;
  font-size:  12px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .instruction_flex {
    display: flex;
  }
}

@media (max-width: 767px) {
  .img_none {
    text-align: center;
  }
}

/* Timeline */
.tweet_form {
  height: 113px;
  border-radius: 8px;
  background-color: #a0e8d0;
  padding: 14px 5% 10px;
}

.chat_form {
  margin-top: 4em;
}

textarea#tweet_content, textarea#chat_text {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: none;
  padding: 8px;
}

img.tweet_form_img {
  margin-left: 20px;
}

.timeline_user_img {
  width: 30px;
  height: 30px;
}

.select-group {
  height: 23.3px;
  border-radius: 17.5px;
}

.post_tweet {
  width: 21%;
  height: 23.6px;
  object-fit: contain;
  border-radius: 17.5px;
  background-color: #3b6793;
  color:  #fff;
  margin: 0;
  margin-left:  auto;
}

.timeline-shows {
  /* width: 441px; */
  background-color: #ffffff;
  border: solid 1px #e1e1e1; 
}

/* Tweet new design */
.tweet {
  min-height: 51px;
  border-bottom: 1px solid #e6ecf0;
  cursor: pointer;
}

.tweet_img {
  margin-left:  5%;
  margin-top:  11px;
  margin-right: 4.7%;
}

.tweet_text {
    margin-top:  6px;
    width: 77%;
}

/* slideshow */
#slider_wrap {
  width: 185px; /* 変更 */    /* padding 20*2 +  img*width*パネル数 + (marginleft+right)*4+(marginLeft/Right)  */
  height: 42px; /* padding 20*2 + #photo_list.height */
  margin: 0px auto;
  position: relative;
}

#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider > div { /* photo_list_と同値 */
  height: 42px; /* padding 20*2 + img.height */
  list-style-type: none;
  float: left;
}

#slider > div li {
  float: left;
  margin: 0 1.9px; /* 変更 */
  display: inline;
}

#slider > div img {
  border: none;
}

@media (max-width: 1023px) {
  .scroll_traiangle {
    display:  none;
  }
}

@media (min-width: 1024px) {
  $top_padding_side: 2%;
  $top_padding_top: 45px;

  /* Lunch Top */
  .index_left {
    width: 49%;
    margin: 0 1% 0 2%;
  }

  .index_right {
    width: 45%;
    margin-right: 3%;
  }

  .entry_top {
    display: flex;
  }

  /* LunchFriendsのロゴマーク */
  .lunchfriends {
    margin-left: 168px;
  }

  .Asset-73x {
    width: 112px;
    object-fit: contain;
    margin-left: 218px;
    padding-top: 19px;
  }

  .entry_status {
    margin-bottom: 85px;
  }

  p.entry_now {
    margin-left: 228px;
  }

  .matching_time_show {
    margin-left: 218px;
  }

  .today_date {
    height: 26px;
    margin-bottom: 27px;
    color: #3b6793;
    letter-spacing: 4.4px;
    font-size: 18px;
  }

  .today_date:before, .today_date:after {
    width: 18%;
    height: 2px;
  }
  .today_date:before {
    margin-right: 13px;
  }
  .today_date:after {
    margin-left: 13px;
  }

  .lunch_card {
    max-width: 224px;
    height: 168px;
    border-radius: 12px;
    flex: 1 1 224px;
    margin-right: 11px;
    margin-bottom: 10px;
  }

  .lunch_card_category {
    font-family: rounded-x-mplus-1m, Rounded Mplus 1c;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
  }

  img.lunch_card_img {
    width:  42px;
    height:  42px;
  }

  /* Timeline */
  .tweet_form {
    height: 113px;
    border-radius: 8px;
    background-color: #a0e8d0;
    padding: 14px 5% 10px;
  }

  textarea#tweet_content, textarea#chat_text {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border: none;
  }

  img.tweet_form_img {
      margin-left: 20px;
  }

  .select-group {
    height: 23.3px;
    border-radius: 17.5px;
  }

  .post_tweet {
    width: 21%;
    height: 23.6px;
    object-fit: contain;
    border-radius: 17.5px;
    background-color: #3b6793;
    color:  #fff;
    margin: 0;
    margin-left:  auto;
  }

  .timeline-shows {
    /* width: 441px; */
    background-color: #ffffff;
    border: solid 1px #e1e1e1; 
  }

  /* Tweet new design */
  .tweet {
    min-height: 51px;
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
  }

  .tweet_img {
    margin-left:  5%;
    margin-top:  11px;
    margin-right: 4.7%;
  }

  .tweet_text {
      margin-top:  6px;
      width: 77%;
  }

  /* slideshow */
  #slider_wrap {
    width: 185px; /* 変更 */    /* padding 20*2 +  img*width*パネル数 + (marginleft+right)*4+(marginLeft/Right)  */
    height: 42px; /* padding 20*2 + #photo_list.height */
    margin: 0px auto;
    position: relative;
  }

  #slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #slider > div { /* photo_list_と同値 */
    height: 42px; /* padding 20*2 + img.height */
    list-style-type: none;
    float: left;
  }

  #slider > div li {
    margin: 0 1.9px; /* 変更 */
  }

}

@media (min-width: 1300px) {
  /* LunchFriendsのロゴマーク */
  .lunchfriends {
    margin-left: 239px;
  }

  .Asset-73x {
    width: 142px;
    object-fit: contain;
    margin-left: 276px;
    padding-top: 24px;
  }

  .entry_status {
    margin-bottom: 107px;
  }
  /* エントリー中!! */
  p.entry_now {
    margin-left: 296px;
  }
  
  /* 12:30に相手が決まります */
  .matching_time_show {
    margin-left: 276px;
  }

  .today_date {
    letter-spacing: 2.5px;
    font-size: 19px;
  }

}

@media (min-width: 1440px) {
  /* 投稿フォーム padding */
  .tweet_form {
    height: calc(1440 / 1024 * 113px);
    padding-top: calc(1440 / 1024 * 14px);
    padding-bottom: calc(1440 / 1024 * 10px);
  }
  /* 投稿フォーム */
  textarea#tweet_content, textarea#chat_text {
    height: calc(1440 / 1024 * 55px);
    margin-bottom: calc(1440 / 1024 * 10px);
  }

  .tweet_img {
    margin-top: calc(1440 / 1024 * 11px);
  }

  .tweet_text {
    margin-top: calc(1440 / 1024 * 6px);
  }

  .tweet_data {
    margin-top: calc(1440 / 1024 * 4px);
  }
}

@media (max-width: 767px) {
  #slider_wrap {
    padding: 0;
    /*width: 100%;*/
  }

  #slider > div {
    padding: 0;
  }

  /* エントリー状態 */
  .today_date {
    letter-spacing: 3px;
    font-size: 12px;
  }
}

.select-group {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  color: #ff652c;
  object-fit: contain;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
}

/*  カテゴリーセレクトの矢印マーク */
.select-group:after {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;

  width: 0;
  height: 0;
  margin: auto;

  content: '';

  border-top: 4px solid #999;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* カテゴリーセレクトのクリック可能範囲を拡大 */
select#tweet_category_id {
  margin:  0;
  width:  100%;

  display: block;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 2;
}

.select_width {
  width: 35%;
  position:  relative;
}

.select_label {
  color: #ff652c;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.flex_container {
  display:  flex;
  flex-wrap:  wrap;
}

/* tweet new design */
.tweet_name {
  color:  #f5a623;
  letter-spacing: 2px;
  font-size:  14px;
}

.tweet_data {
    margin-top:  4px;
}

.tweet_thread_mark {
    margin-right:  3.7%;
}

.tweet_category {
    margin-left:  12.6%;
}

.tweet_at {
  margin-left:  auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1.eigo-title {
  font-family: $main-font;
  margin: 30px auto;
  letter-spacing: 0.1em;
}

.basic-heading {
  font-size: 2em;
  margin-bottom: 45px;
}

h2 {
  font-size: 1.6em;
  margin: 15px 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 500;
}

@media (max-width: 767px) {
  .basic-heading {
    font-size: 1.8em;
  }

  #error_explanation ul {
    padding-left: 20px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: $content-color;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: $main-font;
  &:hover {
    color: #F2F2F2;
    text-decoration: none;
  }
}

header.navbar.navbar-default {
  background-color: $navi-color;
  border: none;
  display: none;
}

.navbar-default .navbar-nav > li > a {
  color: $content-color;
}

.navbar-nav > li {
  font-weight: bold;
}

.navbar-default .navbar-header {
  margin: 0 30px;
}

.navbar-right {
  padding-top: 9px;
  margin: 0 30px;
}

@media (max-width: 767px) {
  #logo {
    float: none;
  }
  .navbar-default .navbar-header {
    margin: 0;
    text-align:  center;
  }
  .container-fluid .ul.nav.navbar-nav.navbar-right {
    margin: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .nav > li > a {
    padding: 20px 25px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: yellow;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $navi-color;
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 3px solid $navi-color;
  display: none;
}

.footer-menu {
  float :left;
  margin-top: 10px;
}

.copy-right {
  float: right;
  margin: 10px 20px 0;
  font-size: 13px;
}

.footer li {
  float: left;
  margin: 0 20px;
  font-size: 13px;
  list-style: none;
}

.footer li a {
  color: $content-color;
}

@media (max-width: 767px) {
  footer {
    padding: 0;
  }

  .footer li {
    margin: 0;
    padding: 5px;
    font-size: 1.1em;
    list-style: none;
    float: none;
    border-bottom: 1px solid #666;
    a {
      display:block;
    }

    a:hover {
      background-color: yellow;
    }
  }


  .footer-menu {
    float :none;
    margin-top: 0;
  }

  .copy-right {
    float: none;
    margin: 10px 0;
    text-align:center;
    font-size: 12px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  margin: 0 auto 25px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.select-menu {
  margin: 0 auto;
  width: auto;
  background: #f6f6f6;
  border: .18em solid #ddd;
  font-size: 14px;
}

.select-content {
  border-radius: .25em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-family: inherit;
  color: inherit;
  overflow: auto;
  max-width: 18rem;
  max-height: 18rem;
  -webkit-overflow-scrolling: touch;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-horizontal .form-img {
  display: flex;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#image-cropper {
  overflow: hidden;
}

p.help-block {
  font-size: 0.95em;
}

.cropit-preview-background {
  opacity: .2;
}


/* --- confirmページ ---- */
input.square_btn.confirm_btn {
    margin: 20px 30px;
}


/* --- cropit-icon ---- */
.controls-wrapper {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.rotation-btns {
  font-size: 16px;
  margin-right: 20px;
  display: inline-block;
}

.rotation-btns .icon:first-child {
  margin-right: 20px;
}

.rotation-btns .icon {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
}

.slider-wrapper .large-image {
    font-size: 22px;
}

.rotation-btns  * {
  vertical-align: middle;
}

.slider-wrapper {
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s; 
  display: inline-block;
}

.slider-wrapper .cropit-image-zoom-input {
  width: 130px;
  margin: 0 20px;
}

.slider-wrapper .cropit-image-zoom-input.custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

input.cropit-image-zoom-input.custom {
  display: inline-block;width: 50%;
}

input {
  /* height: auto !important; */
}

/* -----/cropit-icon */

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* トップページ */

/* ログイン前ページ */
h1.bf-title {
  font-family: $main-font;
  font-size: 4.4em;
  letter-spacing: 0.1em;
  margin: 30px auto;
}

h2.bf-sub-title {
  font-size: 1.8em;
  text-align: center;
  margin: 30px auto;
}

.bf-img {
  margin-top: 30px;
  margin-bottom: 60px;
}

.bf-img img {
  width: 250px;
}

.bf-btn {
  margin: 20px auto;
}

.bf-btn a.btn.btn-lg.btn-primary {
  width: 350px;
}


/* ログインページ */
.login-title {
  font-family: $main-font;
  font-size: 4.4em;
  margin: 50px auto;
  letter-spacing: 0.1em;
}

.login-row {
  max-width: 700px;
  margin: 30px auto;
}

.login-sub-title {
  font-size: 1.8em;
  margin: 40px auto;
}

.login-row .form-control {
  width: 65%;
}

.square_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background: #67c5ff ;
  color: white;
  border: solid 2px #67c5ff ;
  border-radius: 3px;
  transition: .4s;
  font-size: 1.3em;
}

.square_btn:hover {
  color: #67c5ff ;
  background: white;
}

a.square_btn.bf-top {
    width: 6.35em;
}

.btn-center {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .login-row .form-control {
    width: 100%;
  }
}

/* 仮登録完了/メール認証ページ */
.account_activation_sentence {
  padding-top: 55px;
  font-size: 18px;
}

.account_activation_asterisk {
  font-size: 14px;
}

.account_activation_btn {
  margin-top: 50px;
}

/* プロフィールページ */
.col-lg-12 img {
  width:200px;
  height:200px;
}

/* プロフィール確認ページ */
@media (min-width: 768px) {
  .prof-attr {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .prof-label {
    flex:1;
  }

  .prof-cnt {
    flex:1;
    padding-left: 35px;
  }
}

@media (max-width: 767px) {
  .prof-attr {
    margin-bottom: 40px;
  }

  .prof-label {
    margin-bottom: 20px;
  }
  .prof-cnt.prof-img {
    text-align: center;
  }
  /* 767px以下でもnavbarが表示されるように追記 */
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
}


/* 二つのボタンが並んだ時のデザイン */
.btn_vertical {
  margin: 20px 0; 
}


/* マッチング相手確認ページ */
.cate_selected {
  font-size: 16px;
  margin-left:  50px;
  margin-top:  20px;
  font-weight:  700;
}

.member_data {
  font-weight:  500;
  font-size:  14px;
  margin-top:  20px;
  margin-left:  50px;
}

.member_slack {
  font-size: 12px;
  font-weight:  500;
  margin-left:  50px;
  margin-top:  20px;
}

.check_content_title {
  font-weight:  700;
  font-size:  18px;
  color: $main-dark-color;
  text-align: center;
}

.matching_chat_asterisk {
  font-size:  12px;
  font-weight:  600;
  text-align: center;
}

.matching_member {
  font-weight:  900;
  font-size:  16px;
  color: $main-dark-color;
}

@media (min-width: 768px) {
  .user-cnt {
    margin: 4em auto;
  }

  .pair-info {
      display: flex;
  }

  .pair-img {
      flex: 1;
  }

  .pair-text {
      flex: 2;

      p.slack_id {
          color: orange;
          font-size: 1.4em;
      }
  }
}

@media (max-width: 767px) {
  .cate_selected, .member_data, .member_slack {
    margin-left:  0;
  }

  .pair-info {
      text-align:  center;
  }

  .pair-img {
  }

  .pair-text {

      p.slack_id {
          color: orange;
          font-size: 1.4em;
      }
  }

  .pair_chats {
    margin-bottom: 3em;
  }
}


/* 画像トリミング */
.trim-cnt .row {
    margin-bottom: 2em;
}
.trim-cnt .btn {
    width: 170px;
}
.trim-cnt .view {
    position: relative;
    height: 300px;
    border: 2px dotted #E4E4E4;
}
.trim-cnt .num-input {
    width: 24px;
}
.trim-cnt #rectangle {
  z-index: 2;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: transparent;
  border: 2px dotted #f2b4b3;
}

#crop_area_box {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.cropit-preview {
  width: 212px;
  height: 212px;
  background-color: #f0f0f0;
  border: 6px solid #eee;
  cursor: move;
  margin: 0 auto;
}



/* hobbyページ */
ul {
  list-style-type: none;
}

.hobby {
  display: flex;
}

#hobby_layer {
  flex: 1;
}

#kind_layer {
  flex: 1;
}

#concreate_layer {
  flex: 1;
}

#hobby_layer {
  width: 150px;
  height: 150px;
  background-color: #adff2f;
  margin-right: 30px;
}

#kind_layer {
  width: 150px;
  height: 150px;
  background-color: #adff2f;
  margin-right: 30px;
}

#con_list {
  width: 150px;
  height: 150px;
  background-color: #adff2f;
  margin-right: 30px;
}

#selected_category {
  border-bottom: solid 5px #FF6A4B;
  font-weight: 600;
  font-size: 14px;
}

/* 趣味登録ページでクリックした要素に追加されるセレクタ */
.active {
  background-color: #FFFF99;
}

.lunch_selected {
  background-color: #C0C0C0;
}

.standby {
  display: none;
}

.first_categories {
  display:flex;
}

@media (min-width: 768px) {
  .second_categories {
    display:flex;
  }
}

.third_categories {
  display:flex;
}

.forth_categories {
  display:flex;
}

.standby, .first_categories div {
  cursor: pointer;
}

.first_categories div {
  padding: 10px;
  border: 2px solid #333;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  /*background: #FFFF99;*/
}


.second_categories div {
  padding: 10px;
  border: 2px solid #333;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  /*background:#A4C6FF;*/
}

.third_categories div {
  padding: 10px;
  border: 2px solid #333;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  /*background:#FFD5EC;*/
}

.forth_categories div {
  padding: 10px;
  border: 2px solid #333;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  /*background: #CBFFD3;*/
}

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}

input.hb-add {
  margin: 0;
}

#my_hobby input[type="text"] {
  margin:  0;
  border-width: 0 0 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#hobby_delete label {
  display: block;
  margin-bottom:0;
  cursor: pointer;
}

li.hobby_selected {
  color: red;
}

.display_flex {
  display:flex;
}

.category_asterisk {
  font-size: 12px;
}

/* others */
.label-danger {
  background-color: #FFA900;
  font-weight: 300;
}

.prof-label .label-danger {
  font-size: 12px;
}

/* Thread */
.t_threads.col-sm-3 {
  background-color:  gainsboro;
}

textarea#t_thread_content {
  width: 80%;
  margin: 0 35px;
}

/* thread基tweetモーダル */
.modal-header {
  padding: 30px 40px;
}

/* thread基tweetユーザー名 */
.tweet_info_name {
  font-size: 18px;
  font-weight: bold;
  padding-left: 8px;
}

/* thread基ツイート本文 */
p.tweet_info_content {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: .01em;
  font-weight: 400;
  margin-top: 12px;
}

/* reply一覧モーダル */
.modal-body {
  padding: 0;  
}

/* replyレコード */
.thread_tr {
  padding: 9px 40px;
  border-top: 1px solid #e5e5e5;
}

/* threadフォーム */
.t_thread_form {
  padding: 15px 40px 15px 95px;
}

/* replyの写真以外の要素のdiv */
.reply_sentences {
    padding-left: 12px;
}

/* reply submit用に送信するtweet_idを非表示に */
#reply_tweet_id {
  display: none;
}

/* 管理画面 */
.daily_lunch td {
  border: solid;
}