@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$navi-color: #FFCB00;
$content-color: #3B3838;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
    max-width: 700px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header.navbar.navbar-fixed-top.navbar-inverse {
    background-color: $navi-color;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

.navbar-nav > li {
  font-weight: bold;
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 3px solid $navi-color;
}

.footer-menu {
  float :left;
}

.copy-right {
  float: right;
}

.footer li {
  float: left;
  margin: 0 20px;
  font-size: 13px;
  list-style: none;
}

.footer li a {
  color: $content-color;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* トップページ */
.user-info.row {
    margin-top: 20px;
}

.square_btn {
    display: inline-block;
   padding: 0.3em 1em;
   text-decoration: none;
   color: #67c5ff ;
   border: solid 2px #67c5ff ;
   border-radius: 3px;
   transition: .4s;
}

.square_btn:hover {
   background: #67c5ff ;
   color: white;
}

.btn-center {
  text-align: center;
  margin-top: 20px;
}

/* エントリー中ユーザ一覧 */
.entry-user .con_area {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 30px auto;
}

.entry-user article {
  flex: 1 1 384px;
  display: flex;
}

.entry-user section {
  flex: 1;
  margin: 10px;
  display: flex;
  border: solid 1px #ddd;
  color: inherit;
}

.entry-user user-info img {
  width: 200px;
  heigjt: 200px;
}

.entry-user .user-info .col-xs-10 {
  padding-left: 55px;
}

.entry-user .entry-photo {
  flex: 2;
  min-height: 150px;
  background-position: center;
  background-size: cover;
}

.entry-user .entry-text {
  flex: 3;
  margin: 10px;
}

.entry-user h1 {
  margin-bottom: 60px;
  font-size: 1.6em;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 0px;
}

.entry-user h2 {
  font-size: 18px;
}

.entry-user p {
  font-size: 14px;
  opacity: 0.8;
}

section.entry_form {
    text-align: center;
}

@media (max-width: 384px) {
  .entry-user .entry-photo {
    flex: 1;
  }
}

/* プロフィールページ */
.col-lg-12 img {
  width:200px;
  height:200px;
}


/* スライドショー */
#slider_wrap {
  margin: 20px auto;
  width: 740px;  /* 変更 */
  height: 175px;
  padding: 20px;
  /*background: #EFEFEF;*/
  position: relative;
  /*border: 1px solid #CCC;*/
}
#slider_prev {
  position: absolute;
  top: 65px;
  left: -10px;  /* 変更 */
  cursor: pointer;
}
#slider_next {
  position: absolute;
  top: 65px;
  right: -10px;  /* 変更 */
  cursor: pointer;
}
#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#photo_list {
  /*width: 640px;  幅は指定しない*/
  height: 135px;
  padding: 20px 10px;  /* 変更 */
  list-style-type: none;
  float: left;
  /*background: #999;*/
}
#photo_list li {
  float: left;
  margin: 0 10px;  /* 変更 */
  display: inline;
}
 
#photo_list img {
  border: none;
}