<footer class="footer">
	<nav>
	  <ul>
	    <li><%= link_to "TOP", root_url %></li>
	    <li><%= link_to "お問い合わせ", contact_path %></li>
	    <li>Copyright © Shuffle Lunch All rights reserved</li>
	  </ul>
	</nav>
</footer>