<footer class="footer">
	<nav>
	  <ul class="footer-menu">
	    <li><%= link_to "TOP", root_url %></li>
	    <li><%= link_to "お問い合わせ", contact_path %></li>
	  </ul>
	</nav>
    <div class="copy-right">Copyright © Lunch Friends All rights reserved</div>
</footer>