<footer class="footer">
	<nav>
	  <ul>
	  	<div class="footer-menu">
		    <li><%= link_to "TOP", root_url %></li>
		    <li><%= link_to "お問い合わせ", contact_path %></li>
		</div>
	    <div class="copy-right">
	    	<li>Copyright © Lunch Friends All rights reserved</li>
	    </div>
	  </ul>
	</nav>
</footer>