<footer class="footer">
	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "TOP", root_url %></li>
	    <li><%= link_to "お問い合わせ",  %></li>
	    <li>Copyright © Shuffle Lunch All rights reserved</li>
	  </ul>
	</nav>
</footer>