<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, id: "logo" do %>
        Lunch Friends
        <%= image_tag("lunch_logo-iloveimg-resized.png", alt: "Lunch Friends logo") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup">新規登録</a></li>
      <li><a href="/login">ログイン</a></li>
    </ul>
    
   </div>
</nav>